<!doctype html>
<html>

<head>
    <title>Sample Form</title>
</head>

<body>
    <h1>Sample Form</h1>
    <!-- form starts here -->
    <form action="" method="post" novalidate>
        {{ form.csrf_token }}
        <p>
            {{ form.hidden_tag() }}
            {{ form.name.label }}
            {{ form.name(size=32, placeholder='Enter Username') }}
        </p>
        <p>
            {{ form.password.label }}
            {{ form.password(size=32, placeholder='Enter Password') }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <!-- form ends above -->
</body>

</html>
