li {
    list-style-type: none;
    width: 33%;
    padding: 10px 15px;
    margin-bottom: 5px;
    border-radius: 25px;
}

/* Your code here */

li[data-type="drinks"] {
    background-color: lightseagreen;
}

li[data-type="bakery"] {
    background-color: burlywood;
}

li[data-type="canned"] {
    background-color: pink;
}

li[data-type="dairy"] {
    background-color: lightblue;
}

li[data-type="frozen"] {
    background-color: lightcyan;
}

li[data-type="meats"] {
    background-color: lightcoral;
}

li[data-type="produce"] {
    background-color: lightgreen;
}

li[data-type="toiletries"] {
    background-color: lightgray;
}

li[data-type="other"] {
    background-color: lightgoldenrodyellow;
}
